body {
  background-color: #ffffff;
}

h1 {
  color: #000000;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
h2 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}
email, name {
  color: rgb(0, 0, 0);
  font-size: 20px;
  align-items: center;
  margin-left: 20px;
}
textarea {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
}